form {
  color: var(--primary-text);
}

.link {
  color: orange !important;
}

input {
  margin: 2rem 0;
  background: transparent !important;
  border: none !important;
  color: var(--primary-text) !important;
}

.input1 {
  border-bottom: 1px solid var(--red) !important;
}

.input2 {
  border-bottom: 1px solid var(--primary-text) !important;
}

::placeholder {
  color: var(--primary-text) !important;
}