.prediction {
  min-height: calc(100vh - 100px);
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.white {
  color: var(--textColor);
}

.orange {
  color: var(--secondaryColor);
}

.left-prediction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 2rem 1.5rem;
  height: 100%;
  width: 50%;
  color: var(--textColor);
}

.content {
  height: 90%;
}

.response {
  justify-content: center;
}

.left-prediction p {
  text-align: center;
  font-weight: 700;
}

.title {
  font-weight: bold;
}

.intro {
  width: 85%;
  height: 80%;
  transition: transform 0.3s ease-in-out;
}

.intro:hover {
  transform: scale(1.02);
}

.uppercase {
  text-transform: uppercase;
}

.right-prediction {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  height: 100%;
  width: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.inner-right-prediction {
  width: 85%;
  height: 80%;
  margin: auto;
}

.webcam {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: var(--video-size) px;
  height: var(--video-size) px;
  border-radius: 30px;
  border: 4px solid var(--secondaryColor);
  overflow: hidden;
  object-fit: contain;
}

.prediction select {
  margin: auto;
  margin-top: 1rem;
  width: 8rem !important;
}


/* Mobile view */
@media (max-width: 768px) {

  .prediction {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .right-prediction {
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin: 0;
    width: 90%;
  }

  .left-prediction {
    width: 90%;
    height: auto;
  }

  .left-prediction p {
    font-weight: 200;
  }
}

@media (max-height: 1400px) and (max-width: 1000px) {
  .prediction {
    min-height: auto;
    padding: 50px 0;
  }
}